.wrapper {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #d6d6dc;
  margin-bottom: 20px;
  gap: 30px;
}

.title {
  font-weight: 800;
  font-size: 24px;
  padding-left: 40px;
}

.productWrapp {
  display: flex;
  flex-wrap: wrap;
}