.layout {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: blue;
  background-color: #c1c0cb;
  padding: 0 10px;
  margin: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;

  &:hover {
    color: red;
  }
}