.form {
  margin-left: 10px;
}

.formTitle {
  color: #1a37cc;
  font-weight: 500;
  font-size: 24px;
  padding-bottom: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input {
  height: 25px;
  font-weight: 400;
  font-size: 16px;
}

.checkout {
  height: 45px;
  width: 100%;
  background-color: #31cb68;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  padding: 0 7px;
  border: 1px solid #2c6942;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #338a52;
  }
}

.error {
  color: red;
  margin: 0;
  padding: 0;
}